CONFIG=/Users/kenneth/Developer/java/MediaSanctum/Backend/tmp/config
DATA=/Users/kenneth/Developer/java/MediaSanctum/Backend/tmp/data
ADMIN_EMAIL=changeme
ADMIN_PASSWORD=changeme
# openssl rand -base64 32
JWT_SECRET=changeme
SPRING_PROFILES_ACTIVE=local